@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
@media (min-width: 756px) {
    .height-120px{
    min-height: calc(100vh - 140px);
    }
}
